@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .hotel
    &-slider
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .card
    width: 220px
    height: 220px
  .packages
    &-wrapper
      column-gap: 20px
      row-gap: 20px
  .package--primary
    .package-info
      padding: 25px 21px 25px 27px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 106px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
    .search
      &__input
        width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
      width: 100%
    &-right
      flex-direction: row
  .booking
    width: 340px
  .map
    width: 340px
  .slider
    width: 100%
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 45px
    &-slider
      &__item
        max-width: 580px
  .activities
    padding-bottom: 50px
    &__card
      margin-bottom: 20px
    &-wrapper
      flex-wrap: wrap
  .card
    height: 255px
    width: 340px
  .packages
    padding: 35px 0 60px
    &__title
      margin-bottom: 60px
      font-size: 32px
      line-height: 40px
    &-wrapper
      grid-template-rows: 1fr 1fr 1fr
      grid-template-columns: 1fr 1fr
  .footer
    padding: 73px 0 33px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__logo
      grid-row: 1/2
      grid-column: span 2
      width: 104px
    &__social-network
      grid-row: 1/2
      grid-column: span 4
      align-self: center
    &__categories
      grid-row: 2/3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
    &__input
      flex-basis: 47.5%
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &-menu, &__search, &__user
      display: none
    .menu
      &-button
        display: flex
        width: 16px
        height: 11px
        padding: 0
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        background-color: $light
        cursor: pointer
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__stars
        flex-basis: auto
      &-slider
        height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
      max-width: 576px
      width: 92%
    &-title
      padding-bottom: 37px
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        padding: 0 30px 30px
        &::before, &::after
          display: none
      &__button
        top: 45px
        &--prev
          left: 50%
          transform: translate(-50%, -50%)
          margin-left: -85px
        &--next
          right: 50%
          transform: translate(50%, -50%)
          margin-right: -85px
  .card
    height: 255px
    width: 49%
  .packages
    padding: 35px 0 60px
    &__title
      margin-bottom: 50px
      font-size: 28px
      line-height: 36px
    &-wrapper
      grid-template-rows: auto 1fr 1fr
      grid-template-columns: 1fr 1fr
      column-gap: 17px
      row-gap: 17px
  .package
    &-info
      padding: 22px 14px 20px 18px
  .package--primary
    height: auto
    .package-info
      padding: 30px 21px 30px 35px
      &__title
        margin-bottom: 20px
      &__paragraph
        margin-bottom: 30px
      &__room
        margin-bottom: 32px
  .footer
    &__input
      flex-basis: 100%
    &-more
      margin-top: 56px
      &-wrapper
        width: 100%
@media (max-width: 576px)
  .navbar
    &-top
      padding: 26px 0
  .logo
    width: 99px
  .reviews
    padding-bottom: 50px
    &__title
      width: 70%
      margin: 0 auto 42px
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        padding-bottom: 36px
  .activities
    padding: 40px 0 40px
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-transform: uppercase
      margin-bottom: 36px
  .card
    width: 100%
  .packages
    padding: 30px 0 40px
    &__title
      margin-bottom: 35px
      font-size: 24px
      line-height: 30px
    &-wrapper
      grid-template-rows: auto repeat(4, 1fr)
      grid-template-columns: 1fr
      row-gap: 20px
  .package__image
    height: 250px
  .package
    flex-direction: column
    &--primary
      height: auto
      grid-column-start: 1
      grid-column-end: 2
  .footer
    padding: 69px 0 21px
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social-network
      grid-row: 2
      grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
@media (max-width: 575px)
  .container, .newsletter-wrapper
    width: 87.5%
  .hotel
    padding: 5px 0 40px
    &-right
      min-height: 410px
    &-slider
      height: 180px
      margin-bottom: 20px
    &-info
      padding-bottom: 38px
      &__name
        margin-top: 10px
      &__offer
        margin-top: 0
      &__stars
        margin-bottom: 4px
  .map
    height: 173px
  .newsletter
    padding: 76px 0 83px
    &-title
      font-size: 20px
      &__strong
        font-size: 30px
  .subscribe
    max-width: 100%
    &__input
      padding-left: 20px
  .reviews
    &-slider
      &__text
        text-align: left
  .footer
    &-wrapper
      row-gap: 30px
    &__social-network
      flex-direction: column
      justify-content: space-between
      height: 67px
    &__fields-wrapper
      flex-direction: column-reverse
      align-items: start
      height: 80px
    &-more
      margin-top: 30px
      &-wrapper
        flex-direction: column
        justify-content: space-between
        align-items: start
        height: 47px
      &__cards
        width: 136px
